<div class="custom-select">
    <select (change)="getCountry($event.target.value)">
        <option>All</option>
        <option *ngFor="let country of countries" value="{{country.Country}}">
            {{ country.Country }}
        </option>
    </select>
</div>
<button class="btn btn-primary" (click)="getInfo()">Get Info</button>
<button class="btn btn-success" id="showButton" (click)="showChart()">Show Chart</button>
<button class="btn btn-danger" (click)="clear()">Clear</button>
<!-- <ul>
    <li *ngFor="let confirmed of confirmArray">
        {{ confirmed }}
    </li>
</ul> -->

<div style="width: 70%">
    <canvas id="myChart" width="400" height="700"></canvas>
</div>